<flynt-component
  load:on="visible"
  name="BlockTiles">
  <div class="boxed flex flex-col gap-sm {% if options.topBorder %}border-t-2 border-black mt-sm{% endif %}">
    {% if blockTitle %}
      <h2 class="font-h1Serif !mb-0">{{ blockTitle|e }}</h2>
    {% endif %}
    <div class="tiles flex flex-wrap gap-sm
      {% if options.columns == '2' %}tiles--2{% endif %}
      {% if options.columns == '3' %}tiles--3{% endif %}
      {% if options.columns == '4' %}tiles--4{% endif %}
    ">
      {% for tile in tiles %}
        <div
          class="tile p-sm dark-exclude"
          style="background-color: {% if tile.colorBackground %}{{ tile.colorBackground }}{% else %}transparent{% endif %};">
          <div class="wysiwyg">{{ tile.contentHtml|e('wp_kses_post') }}</div>
          {% if tile.buttonLink %}
            <a 
              class="button button--link mt-sm" 
              href="{{ tile.buttonLink.url }}" 
              {% if tile.buttonLink.target %} target="{{ tile.buttonLink.target }}" rel="noreferrer noopener"{% endif %}>
              {{ tile.buttonLink.title }}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</flynt-component>
