<flynt-component
  load:on="visible"
  name="BlockBoxes">
  <div class="boxed flex flex-col gap-sm {% if options.topBorder %}border-t-2 border-black mt-sm{% endif %}">
    {% if blockTitle %}
      <h2 class="font-h1Serif !mb-0">{{ blockTitle|e }}</h2>
    {% endif %}
    <div class="boxes flex flex-wrap gap-sm
      {% if options.columns == '2' %}boxes--2{% endif %}
      {% if options.columns == '3' %}boxes--3{% endif %}
      {% if options.columns == '4' %}boxes--4{% endif %}
    ">
      {% for box in boxes %}
      <div class="box flex flex-col justify-center items-center gap-xs">
        <div
          class="flex flex-col justify-center items-center p-sm w-full aspect-video"
          style="background-color: {% if box.colorBackground %}{{ box.colorBackground }}{% else %}transparent{% endif %};">
          {% if box.image %}
            <img
              class="w-full object-contain max-h-[50px] md:max-h-[100px]"
              src="{{ box.image.src }}"
              alt="{{ box.image.alt|e | default('') }}"
              loading="lazy"
            />
          {% endif %}
        </div>
        {% if box.title %}
          <h3 class="font-h3 !mb-0">{{ box.title|e }}</h3>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</flynt-component>
