<flynt-component
  load:on="idle" name="SliderBox"
  class="pb-xxl my-xxs overflow-hidden"
  style="
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %};">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="wrapper w-screen mx-auto boxed boxed--coloured">
    {% if headlineTitle %}
      <h2 class="font-h2">{{ headlineTitle }}</h2>
    {% endif %}
    {% if subtitleHtml %}
      <div class="wysiwyg">{{ subtitleHtml|e('wp_kses_post') }}</div>
    {% endif %}

    <div data-ref="slider" class="slider swiper-container mt-xl lg:mt-0">
      <div class="w-full button-wrapper absolute left-0 bottom-0 z-50 translate-y-sm xs:translate-y-sm lg:translate-y-sm">
        <div class="w-full flex align-middle justify-between items-center">
          <button type="button" data-ref="prev" class="slider-button slider-button--prev">
            <svg width="40" height="30" viewBox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="fill-red" d="M3.93801 13.9393C3.35222 14.5251 3.35222 15.4749 3.93801 16.0607L13.4839 25.6066C14.0697 26.1924 15.0195 26.1924 15.6053 25.6066C16.1911 25.0208 16.1911 24.0711 15.6053 23.4853L7.11999 15L15.6053 6.51472C16.1911 5.92893 16.1911 4.97918 15.6053 4.3934C15.0195 3.80761 14.0697 3.80761 13.484 4.3934L3.93801 13.9393ZM34.3438 13.5L4.99867 13.5L4.99867 16.5L34.3437 16.5L34.3438 13.5Z"/>
            </svg>
          </button>
          <button type="button" data-ref="next" class="slider-button slider-button--next">
            <svg class="transform scale-x-[-1]" width="40" height="30" viewbox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="fill-red" d="M3.93801 13.9393C3.35222 14.5251 3.35222 15.4749 3.93801 16.0607L13.4839 25.6066C14.0697 26.1924 15.0195 26.1924 15.6053 25.6066C16.1911 25.0208 16.1911 24.0711 15.6053 23.4853L7.11999 15L15.6053 6.51472C16.1911 5.92893 16.1911 4.97918 15.6053 4.3934C15.0195 3.80761 14.0697 3.80761 13.484 4.3934L3.93801 13.9393ZM34.3438 13.5L4.99867 13.5L4.99867 16.5L34.3437 16.5L34.3438 13.5Z"/>
            </svg>
          </button>
        </div>
      </div>
      {# <div class="w-full button-wrapper absolute left-0 bottom-0 z-50 translate-y-xl xs:translate-y-xl lg:translate-y-sm">
        <div data-ref="dots" class="flex justify-center slider-pagination swiper-pagination-fraction"></div>
      </div> #}
      <div class="swiper-wrapper">
        {% for row in rows %}
          <div class="slider-item swiper-slide relative w-full h-auto lg:mr-md flex flex-col justify-center items-center overflow-hidden">
            <div class="w-full mx-auto flex flex-col justify-center items-center">
              {% if row.image %}
                <div class="h-auto flex justify-end items-center">
                  <img src="{{ row.image.src }}" alt="{{ row.image.alt }}" class="rounded-image aspect-square object-cover">
                </div>
              {% endif %}
              {% if row.text %}
                <div class="text-center wysiwyg">{{ row.text|e('wp_kses_post') }}</div>
              {% endif %}
              </img>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</flynt-component>
