<flynt-component load:on="visible" name="NavigationFooter" class="bg-white text-black mt-xs">
  <div class="boxed !min-h-fit flex flex-row justify-between items-end">
    <div class="w-full flex flex-col gap-md sm:gap-sm md:gap-lg border-t-2 border-black">
      {# Row 1 #}
      <div class="block sm:hidden w-full mt-sm sm:mt-md">
        {% if logoFooterMobile %}
          <img class="lazyload h-auto w-full"
            src="{{ logoFooterMobile.src }}"
            data-srcset="{{function('wp_get_attachment_image_srcset', logoFooterMobile.id)}}"
            data-sizes="auto">
        {% endif %}
      </div>
      <div class="hidden sm:block w-full mt-sm md:mt-md">
        {% if logoFooter %}
          <img class="lazyload h-auto w-full"
            src="{{ logoFooter.src }}"
            data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
            data-sizes="auto">
        {% endif %}
      </div>
      {# Row 2 #}
      <div class="flex flex-row flex-wrap gap-y-sm md:gap-y-0 align-start justify-start md:justify-between">
        {% for column in columns %}
          <div class="column flex flex-col w-1/2 md:w-1/4">
            {% if column.links %}
              <ul class="flex flex-col gap-min list-none">
                {% for item in column.links %}
                  <li>
                    <a
                      href="{{ item.link.url }}" class="font-footerNav no-underline hover:underline"
                      {% if item.link.target %} target="{{ item.link.target }}" rel="noreferrer noopener"{% endif %}
                    >{{ item.link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {# {% if menu %}
      <div class="w-full">
        <nav class="navigation w-full flex justify-start lg:justify-center items-end" aria-label="{{ labels.ariaLabel }}">
          {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
        </nav>
      </div>
      {% endif %} #}
      <div class="w-full grid grid-cols-1 md:grid-cols-2 justify-start items-center gap-sm">
        <div x-data="themeSwitcher" class="flex items-center gap-xs">
          <button
            @click="setTheme('light')"
            class="button bg-grei text-black !border-0 hover:opacity-70 py-min px-xs transition-opacity duration-300"
          >{{ labels.themeLight }}</button>
          <button
            @click="setTheme('dark')"
            class="button bg-black !text-grei !border-0 hover:opacity-70 py-min px-xs transition-opacity duration-300"
          >{{ labels.themeDark }}</button>
        </div>
        <div class="flex flex-row justify-end items-center">
          <div class="wysiwyg">{{ copyrightsHtml|e('wp_kses_post') }}</div>
        </div>
      </div>
      {# Col 5 #}
      {# <div class="w-full lg:w-1/5 flex flex-col gap-sm sm:gap-lg justify-start sm:justify-end items-start sm:items-end mb-[1.2rem]">
        {% if newsletterLink %}
          <a 
            class="button button--outline flex flex-row justify-between items-center" 
            href="{{ newsletterLink.url }}" 
            {% if newsletterLink.target %} target="{{ newsletterLink.target }}" rel="noreferrer noopener"{% endif %}>
            {{ newsletterLink.title }}
            <svg width="31" height="23" viewBox="0 0 31 23" fill="none">
              <path d="M27.6933 0.906679C20.5513 1.80808 6.64693 6.6942 1.93273 9.0176C1.1425 9.40708 1.06896 10.1361 1.76885 10.6103C2.78976 11.302 4.68672 12.4567 8.14198 14.2445C8.14198 14.2445 8.29882 21.4548 10.1545 21.6642C12.3995 21.3905 14.7919 20.2037 16.8628 18.449C19.4365 19.6513 21.1233 20.3362 22.1139 20.7075C22.8003 20.9647 23.6072 20.85 23.9848 20.3552C26.3691 17.2313 29.096 7.37394 29.6037 2.24169C29.6846 1.4243 28.7889 0.768411 27.6933 0.906679Z" stroke="#28321E" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M25.7092 3.97778C25.7092 3.97778 16.5524 11.1149 12.4485 14.8984C12.2984 15.0367 12.2068 15.1988 12.1714 15.3737C11.9899 16.2707 11.333 19.2531 10.2004 21.5377" stroke="#28321E" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        {% endif %}
      </div> #}
      {# {% include 'Partials/_backtotop.twig' %} #}
    </div>
  </div>
</flynt-component>
