<flynt-component 
  load:on="visible" 
  name="NavigationFooter" 
  class="p-sm md:p-md bg-blue text-white flex flex-col justify-between items-end gap-sm md:gap-lg rounded-t-image relative z-20">
  <div class="w-full flex flex-col justify-between gap-lg">
    {# Top #}
    <div class="flex flex-row flex-wrap justify-between items-start gap-sm">
      {% for column in columns %}
        <div class="wysiwyg">{{ column.contentHtml|e('wp_kses_post') }}</div>
      {% endfor %}
    </div>
  </div>
  {# Logo #}
  <div class="w-full flex flex-col justify-end gap-sm ">
    {% if logoFooter %}
      <img class="object-contain w-screen"
        src="{{ logoFooter.src | resize(32) }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
        data-sizes="auto"
        fetchpriority="high"
        alt="{{ logoFooter.alt|e }}">
    {% endif %}
  </div>
  {# Menu #}
  <div class="w-full h-full flex flex-col md:flex-row gap-xs md:gap-sm justify-between items-center">
    <div class="font-nav uppercase">{{ copyrightHtml }}</div>
    {% if menu %}
      <nav class="flex justify-end items-center" aria-label="{{ labels.ariaLabel }}">
        {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
      </nav>
    {% endif %}
  </div>
</flynt-component>
