<div class="menu list-none w-full gap-sm flex flex-row {{ isSecondary ? 'justify-end' : 'justify-center' }} items-center {{ isSecondary ? 'text-sm' : '' }}">
  {% for item in items %}
    {# regular menu item #}
    {% if not item.children %}
      <div class="item font-nav flex align-middle items-center no-underline {{ item.classes|join(' ') }} {{- item.current ? ' ' }} {{- item.target == '_blank' ? ' external-link' }} {{- item.object == 'page' ? ' page-item' }} {{- item.object == 'post' ? ' post-item' }}">
        <a class="link button button--fullOrange flex align-middle items-center no-underline transition-transform duration-200 ease-in-out" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </div>
    {% endif %}
    {# menu with submenu item #}
    {% if item.children %}
      <div x-data="{ showDropdown: false }" class="item button button--fullOrange !no-underline flex flex-row gap-xs align-middle items-center open-submenu hover:underline {{ item.classes|join(' ') }} {{- item.current ? ' ' }} {{- item.target == '_blank' ? ' external-link' }} {{- item.object == 'page' ? ' page-item' }} {{- item.object == 'post' ? ' post-item' }}" >
        <a 
          @mouseover="showDropdown = true"
          @mouseleave="showDropdown = false"
          @click="showDropdown = !showDropdown" 
          class="link !no-underline flex align-middle items-center transition-transform duration-200 ease-in-out cursor-pointer z-[100]" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
            {{ item.title }}
        </a>
        <div 
          class="menu submenu flex flex-row items-start justify-start gap-sm h-auto text-center" x-cloak
          x-show="showDropdown"
          @mouseover="showDropdown = true"
          @mouseleave="showDropdown = false">
            {% for subitem in item.children %}
              <div class="item !no-underline font-nav {{ subitem.classes|join(' ') }} {{- subitem.current ? '' }} {{- subitem.target == '_blank' ? ' external-link' }} {{- subitem.object == 'page' ? ' page-item' }} {{- subitem.object == 'post' ? ' post-item' }}">
                <a class="link flex align-middle items-center hover:underline underline-offset-4 transition-transform duration-200 ease-in-out" href="{{ subitem.link }}">{{ subitem.title }}</a>
              </div>
            {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
