<!DOCTYPE html>
<html class="html {{ body_class }} page-{{ post.slug }}" id="theTop" lang="{{ site.language|locale_format }}" {{ site.language_attributes }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} {{ __('Feed', 'flynt') }}" href="{{ site.rss2 | e('esc_url') }}">
    {{ function('wp_head') }}

    <!-- Pixel Code - https://www.fairanalytics.de/ -->
    <script defer src="https://www.fairanalytics.de/pixel/TO3TTgkCL3Bfoelz"></script>
    <!-- END Pixel Code -->

  </head>
  <body>
    {% block layout %}
      <div 
        class="pageWrapper">
        <header class="w-full">
          {% block header %}
            <div class="wrapper wrapper--menu flex justify-center items-center w-full h-[72px] lg:h-auto fixed top-0 left-0 z-[3000] transition ease-in-out delay-300">
              <div class="hidden lg:flex w-full boxed !py-0 !max-w-[1640px] mx-auto bg-white justify-center items-center">
                <div class="boxed h-[72px] over !p-0 flex flex-row justify-between gap-sm overflow-hidden">
                  {{ renderComponent('NavigationMainLeft') }}
                  {{ renderComponent('NavigationMainLogo') }}
                  {{ renderComponent('NavigationMainRight') }}
                </div>
              </div>
              <div class="block lg:hidden w-screen fixed top-0 left-0">
                {{ renderComponent('NavigationBurger') }}
              </div>
              {# <div class="boxed flex flex-row justify-between gap-sm">
                {{ renderComponent('NavigationMain') }}
              </div> #}
            </div>
          {% endblock %}
        </header>
        <main id="mainContent" class="mainContent min-h-[calc(100vh-675px)] lg:min-h-[calc(100vh-500px)] {% if fn('is_front_page') or fn('is_single') or fn('is_singular', 'author') %}mt-0 lg:mt-0 {% else %} mt-[44px] lg:mt-[72px]{% endif %}" aria-label="{{ __('Content', 'flynt') }}">
          <a href="#mainContent" class="skipLink">
            {{ __("Skip to main content", "flynt") }}
          </a>
          {% if function('post_password_required') %}
            {{ function('get_the_password_form') }}
          {% else %}
            {% block content %}
              No <code>{{ '{% block content %}' }}</code> defined for this template.
            {% endblock %}
          {% endif %}
        </main>
        <footer class="mainFooter" id="theFooter">
          {% block footer %}
            {{ renderComponent('NavigationFooter') }}
          {% endblock %}
        </footer>
      </div>
    {% endblock %}
    <div class="wpFooter">
      {{ function('wp_footer') }}
    </div>
  </body>
</html>
