{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post mt-pageTop">
    <div 
      class="w-full mx-auto flex flex-col justify-between items-center">
      <div class="wrapper max-w-screen-max mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 h-full relative">
          {# Left #}
          <div class="w-full lg:sticky lg:top-0 lg:h-screen relative">
            {% if post.thumbnail %}
              <img class="w-full h-full igure-image lazyload object-cover"
                src="{{ post.thumbnail.src }}"
                alt="{{ post.thumbnail.alt|e | default('') }}"
                loading="lazy"
                style="opacity: 0; transition: opacity 0.5s ease-in-out;"
                onload="this.style.opacity='1'">
            {% endif %}
            {# Back Button #}
            <a
              x-data
              x-bind:href="document.referrer && new URL(document.referrer).hostname === window.location.hostname ? 'javascript:history.back()' : '{{ site.url }}'"
              class="hidden lg:flex no-underline w-[calc(100%-48px)] items-center justify-center text-center p-min absolute bg-white top-sm left-sm z-10"
            >
              <span class="before:content-['←'] before:mr-min">{{ backButtonLabel }}</span>
            </a>
          </div>
          {# Right #}
          <div class="w-full lg:w-full h-full flex flex-col justify-start px-xs pt-sm lg:p-sm lg:pb-0">
            <div class="flex flex-col justify-start">
              <h2 class="font-h1">{{ post.title }}</h2>
              <section class="post-main flex flex-col">
                {% if post.authorBio %}
                  <div class="py-sm">
                    <p class="font-body">{{ post.authorBio }}</p>
                  </div>
                {% endif %}
                {% set socials = post.meta('authorSocials') %}
                {% if socials %}
                  <div class="flex flex-row gap-xs">
                    {% for social in socials %}
                      <a href="{{ social.platform == 'email' ? 'mailto:' ~ social.url : social.url }}" target="_blank" rel="noopener" class="block w-[30px] h-[30px] bg-grei p-min [&_svg]:w-full [&_svg]:h-full">
                        {% include 'assets/icons/' ~ social.platform ~ '.svg' ignore missing %}
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    {# <section class="post-related">
      {{ renderComponent('RelatedPosts', {'preContentTitle': '<h2>' ~ __('Related News') ~ '</h2>', 'taxonomies': post.categories(), 'options': {'maxPosts': 3}}) }}
    </section>
    <footer>
      {{ renderComponent('BlockPostNav', { post: post }) }}
    </footer> #}
  </article>
{% endblock %}
