{% if authors|length > 0 %}
  <flynt-component load:on="visible" name="ListingAuthors" class="w-full">
    <div class="boxed flex flex-col gap-sm {% if options.topBorder %}border-t-2 border-black mt-sm{% endif %}">

      {# Header: Title + See All #}
      {% if blockTitle or seeAllLink %}
        <div class="flex flex-row items-center justify-between">
          {% if blockTitle %}
            <h2 class="font-h1Serif !mb-0">{{ blockTitle|e }}</h2>
          {% endif %}
          {% if seeAllLink %}
            <a href="{{ seeAllLink.url }}" class="see-all-button flex flex-row items-center gap-xs font-body hover:opacity-70 transition-opacity" {% if seeAllLink.target %}target="{{ seeAllLink.target }}"{% endif %}>
              {# <span>{{ seeAllLink.title|default('See All') }}</span> #}
              {# TODO: svg icon #}
              <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.0322 21.2399C18.8242 21.2399 18.6562 21.1839 18.5282 21.0719C18.4002 20.9439 18.3362 20.7999 18.3362 20.6399C18.3522 20.5599 18.3682 20.4639 18.3842 20.3519C18.4642 20.0479 18.5682 19.7119 18.6962 19.3439L21.5522 11.7119L3.91222 12.9839C2.56822 13.1279 1.57622 12.9839 0.936215 12.5519C0.312215 12.1039 0.000214994 11.4639 0.000214994 10.6319C0.000214994 9.79987 0.320215 9.15987 0.960215 8.71187C1.61622 8.24787 2.60022 8.09587 3.91222 8.25587L21.5282 9.50387L18.6962 1.87187C18.5682 1.56787 18.4722 1.31187 18.4082 1.10387C18.3602 0.895866 18.3362 0.727866 18.3362 0.599865C18.3362 0.439866 18.4002 0.303866 18.5282 0.191866C18.6562 0.0638661 18.8242 -0.000133991 19.0322 -0.000133991C19.3682 -0.000133991 19.6802 0.119866 19.9682 0.359866L31.1522 9.59987C31.3442 9.75987 31.4882 9.91987 31.5842 10.0799C31.6802 10.2239 31.7282 10.3999 31.7282 10.6079C31.7282 10.7999 31.6802 10.9759 31.5842 11.1359C31.5042 11.2959 31.3602 11.4639 31.1522 11.6399L19.9682 20.8799C19.6802 21.1199 19.3682 21.2399 19.0322 21.2399Z" fill="black"/>
              </svg>

            </a>
          {% endif %}
        </div>
      {% endif %}

      {# Authors Grid #}
      <div class="grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-4 gap-sm">
        {% for author in authors %}
          <div class="group flex flex-col gap-xs no-underline">

            {# Halftone or Featured Image #}
            <div class="relative w-full aspect-3/4 overflow-hidden">
              {% if author.postImage %}
                <a href="{{ author.post.link }}" title="{{ author.post.title }}">
                  <img
                    class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
                    src="{{ author.postImage.src }}"
                    alt="{{ author.postImage.alt|e | default('') }}"
                    loading="lazy"
                  />
                </a>
              {% endif %}
            </div>

            {# Info Box #}
            <div class="flex flex-col gap-min items-start justify-start">
              <a href="{{ author.post.link }}" class="!mb-0 font-h3 no-underline" title="{{ author.post.title }}">{{ author.post.title }}</a>
              <div class="flex flex-col gap-xs items-start justify-start flex-wrap">
                {% set authorCategories = author.post.terms('position-category') %}
                {% for term in authorCategories %}
                  <span class="!mb-0">{{ term }}{% if not loop.last %},{% endif %}</span>
                {% endfor %}
                {% if author.post.meta('postAuthor') %}
                  {% for author in Post(author.post.meta('postAuthor')) %}
                    <span class="button button--grey pointer-events-none !mb-0">{{ author.title }}</span>
                  {% endfor %}
                {% endif %}
                {% if author.socials|length > 0 %}
                  <div class="flex flex-row gap-xs items-center">
                    {% for social in author.socials %}
                      <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ social.platform }}" class="flex justify-center items-center w-[30px] h-[30px] bg-grei p-min [&_svg]:w-full [&_svg]:h-full [&_svg]:fill-current hover:opacity-70 transition-opacity">
                        <img src="{{ social.iconUrl }}" alt="{{ social.platform }}" class="w-[20px] h-[20px]" loading="lazy" />
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>

          </div>
        {% endfor %}
      </div>

    </div>
  </flynt-component>
{% endif %}
