<flynt-component
  load:on="load" name="BlockSliderLogos"
  class="overflow-hidden"
  style="
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--black){% endif %};
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}transparent{% endif %};">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="boxed !w-screen !max-w-screen-max !min-h-auto px-0 overflow-hidden">
    {% if blockTitle %}
      <h3 class="font-nav text-center">{{ blockTitle }}</h3>
    {% endif %}

    <div data-ref="slider" class="slider swiper-container mt-md lg:mt-lg">
      <div class="swiper-wrapper flex flex-row">
        {% for row in rows %}
          <a 
            href="{{ row.link.url }}" target="{{ row.link.target }}" rel="noreferrer noopener" 
            class="slider-item swiper-slide flex items-center justify-center">
            {% if row.logo %}
              <img 
                class="logo lazyload object-contain block lg:h-[60px] w-auto"
                src="{{ row.logo.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', row.logo.id)}}"
                data-sizes="auto"
                alt="{{ row.logo.alt|e | default('Logo') }}">
            {% endif %}
          </a>
        {% endfor %}
      </div>
      {# <div class="hidden lg:block w-full button-wrapper w-screen-max mx-auto absolute left-0 bottom-0 z-50 translate-y-[-80px]">
        <div class="flex align-middle justify-between items-center"> #}
          <button type="button" data-ref="prev" class="hidden lg:block absolute left-0 bottom-0 translate-y-[-70px] z-50 slider-button slider-button--prev hover:scale-110 transition-transform duration-300">
            {% include 'assets/icons/arrow-prev.svg' ignore missing %}
          </button>
          <button type="button" data-ref="next" class=" hidden lg:block absolute right-0 bottom-0 translate-y-[-70px] z-50 slider-button slider-button--next hover:scale-110 transition-transform duration-300">
            {% include 'assets/icons/arrow-next.svg' ignore missing %}
          </button>
        {# </div>
      </div> #}
    </div>
  </div>
</flynt-component>
