<flynt-component
  load:on="visible" name="ListingLatestArticles"
  class="w-full mx-auto">
  {% if posts|length %}
    <div class="boxed grid grid-cols-1 md:grid-cols-2 divide-y-2 md:divide-x-2 md:divide-y-0 divide-black {% if options.topBorder %}border-t-2 border-black mt-sm{% endif %}">
      {% for post in posts %}
        <a href="{{ post.link }}" class="no-underline">
          <div class="max-w-screen-tablet mx-auto bg-white px-0 py-sm md:py-sm md:px-sm lg:px-md flex flex-col gap-sm justify-center items-center md:items-start">
            <h2 class="font-h1 text-center md:text-left">{{ post.title }}</h2>
            {% if post.postIntroHomepage %}
              <p class="font-subline mt-min">{{ post.postIntroHomepage }}</p>
            {% else %}
              <p class="font-subline mt-min">{{ post.postIntro }}</p>
            {% endif %}
            <div class="w-full flex flex-row flex-wrap gap-xs items-center justify-center md:justify-start">
              <div class="">
                {% set postCategories = post.terms('category') %}
                {% for term in postCategories %}
                  <span class="button !mb-0" style="background-color: {{ post.meta('colorBackground')|default('#f1f1f1') }}">{{ term }}{% if not loop.last %},{% endif %}</span>
                {% endfor %}
              </div>
              {% if post.date %}
                <div class="button button--grey pointer-events-none !mb-0">{{ post.date('d.m.Y') }}</div>
              {% endif %}
              {% if post.meta('postAuthor') %}
                {% for author in Post(post.meta('postAuthor')) %}
                  <span class="button button--grey pointer-events-none !mb-0">{{ author.title }}</span>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</flynt-component>
