<div data-ref="menu" class="menu w-full h-full mx-auto flex flex-row flex-wrap justify-center items-start gap-sm">
  {% for item in items %}
    {# regular menu item #}
    {% if not item.children %}
      <div class="item flex hover:text-beige {{ item.classes|join(' ') }} {{- item.current ? ' text-beige' }}">
        <a class="link font-nav no-underline" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </div>
    {% endif %}
    {# menu with submenu item #}
    {% if item.children %}
      <div class="item open-submenu hover:text-beige {{ item.classes|join(' ') }} {{- item.current ? ' text-beige' }}" >
        <div class="link font-nav no-underline">
          {{ item.title }}
        </div>
        <div class="submenu flex flex-row gap-xs">
          {% for subitem in item.children %}
            <div class="item hover:text-beige {{ subitem.classes|join(' ') }} {{- subitem.current ? ' text-beige' }}">
              <a class="link !p-0 font-nav no-underline" href="{{ subitem.link }}" {{ subitem.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ subitem.title }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>