<ul data-ref="menu" class="menu w-full">
  <div class="w-full mx-auto grid grid-cols-1 md:grid-cols-4 justify-between">
    {% for item in items %}
      {# regular menu item #}
      {% if not item.children %}
        <li class="item {{- item.current ? ' current-menu-item' }}">
          <a class="link font-h3 hover:underline hover:underline-offset-[5px]" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
            {{ item.title }}
          </a>
        </li>
      {% endif %}
      {# menu with submenu item #}
      {% if item.children %}
        <li class="item open-submenu {{- item.current ? ' current-menu-item' }}" >
          <div class="link font-h3 underline !mb-[6px]">
            {{ item.title }}
          </div>
          <ul class="submenu flex flex-row gap-xs">
            {% for subitem in item.children %}
              <li class="item hover:underline hover:underline-offset-[5px] {{- subitem.current ? ' current-menu-item' }}">
                <a class="link !p-0 font-h3" href="{{ subitem.link }}" {{ subitem.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ subitem.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  <div>
</ul>